/*------------------------------------------------*/

/*Page Setup*/

*{
  margin: 0;
  padding: 0;
}

/*------------------------------------------------*/

/*Font*/

p,h1,h2,h3,h5,h6,a{
  font-family: Lato;
}

.events {
  padding-top: 50px;
  text-align: center;
}

/*------------------------------------------------*/


/*Gridding*/

.content1{
  display: grid;
  grid-column: 1fr;
  grid-template-rows: 4rem 1fr;
}

.content1 .background{
  grid-column: 0 / -1;
  grid-row: 0 / -1;
}

.content1 .navBar{
  grid-column: 1;
  grid-row: 1;
}

/*------------------------------------------------*/



/*Navbar Section*/

.navBar{
  position: relative;
  z-index: 1;
}

/*Floats each item to the left with padding of 14 & 16 px.
Removes the underline with text decoration = none.*/
.navBar a{
  float: right;
  color: #3D3D3D;
  padding: 25px 16px;
  font-size: 17px;
  font-family: Lato;
}

.navBar .logo{
  float: left;
  padding: 1px 1px;
  text-decoration: none;
  font-size: 17px;
}

.logo_image{
  width: 150px;
}

.current_button{
  text-decoration: underline #D12027 3px;
  text-underline-position: under;
}

.navBar .current_button:hover{
  background-color: #CFCFCF;
  border-radius: 20px;
  border-left: 50px;
  opacity: 75%;
  text-decoration: underline #D12027 3px;
  text-underline-position: under;
}

/*Background color change during hover state*/
.navBar .button:hover{
  background-color: #CFCFCF;
  border-radius: 20px;
  border-left: 50px;
  opacity: 75%;
  text-decoration: none;
}

.navBar .button{
  text-decoration: none;
}

/*Hides the menu Icon which will show when the nav needs to be responsive*/
.navBar .icon{
  display: none;
  text-decoration: none;
}

/*Set your custom screen width here replacing 700*/
@media (max-width: 700px){
/*Ignores the first link (which is Home) in the div and       applies 'display = none' to everything else.   Basically hiding everything but Home*/
  .navBar a:not(:first-child){
    display: none;
  }
/*Brings the menu icon into view and floats it to the right*/
  .navBar a.icon{
    display: block; float: right;
  }

/*The navBar class will be changed to 'navBar responsive' using JS. This chunk of CSS makes the menu icon stay where it is by making the position absolute within it's parent 'right top corner'. Without this, the icon will get kicked around when the items are collapsed and expanded*/
  .navBar.responsive {
    position: relative;
  }
  .navBar.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }

/*Removes the originally set float and brings them to view*/
  .navBar.responsive a {
    float: none;
    display: block;
    text-align: right;
  }
  .navBar.responsive .logo {
    float: none;
    display: block;
    text-align: left;
  }
}

.navbar{
  position: fixed;
  top: 50px;
  width: 100%;
  height: 50px;
  background: white;
}

/*------------------------------------------------*/

/*Background*/

.block_container{
  width: 70%;
  height: auto;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 50px;
}

.holder_img{
  width: 100%;
}
figure{
    margin: 2.0em 0;
}
figcaption{
    font-size: smaller;
}

/*------------------------------------------------*/
.wrapper{
  width: 330px;
  height: 330px;
  margin: auto;
  margin-top: 50px;
  margin-left: 1.5%;
  background-color: white;
  background-position: top;
  display: inline-block;
}

.wrapper_title{
  margin-top: 2.5%;
  padding: 10px;
  text-align: center;
}

.wrapper_description {
  margin-bottom: 30%;
  text-align: center;
}

.readMore_button {
  padding-left: 25px;
  padding-right: 25px;
  margin: auto;

  display: flex;
  justify-content: center;
  align-items: center;

  text-decoration: none;

  height: 45px;
  width: 100px;

  background: #D12027;

  border: thin #D12027 solid;
  border-radius: 30px;

  font-size: 15px;
  font-weight: bold;
  color: white;

  box-shadow: 0.2em 0 2em grey;
}



.block_container{
 margin-top: 50px;
}

/* -----------------------------------*/

/* Footer Section */

.footer{
  display: grid;
  justify-content: space-around;
  grid-template-rows: 4rem 4rem 4rem;
  width: 100%;
  height: 250px;
  background: #D12027;
}

.footer_content1{
  position: relative;
  right: 8%;
  grid-row: 2;
}

.footer_content2{
  position: relative;
  right: 42%;
  grid-row: 2;
}
.footer_text{
  color: white;
}

.facebook_button{
  padding-top: 10px;
}
.phone_button{
  padding-left: 10px;
}
